@page
@model RazorPages.Pages.ActiveSearch

@{
    ViewData["Title"] = "Active Search (ASP.NET Razor Pages)";
}

<div style="display: flex; justify-content: space-between; gap: 1rem;">
    <span></span> <!-- Empty span for spacing since this is the last page -->
    <a asp-page="./Animations" class="demo-nav-link">
        NEXT: ANIMATIONS →
    </a>
</div>


<section id="example">
    <h2>Active Search (ASP.NET Razor Pages)</h2>
    <p>This example actively searches a notes database as the user enters text</p>
    
    <p id="total-count">
        Showing @ViewData["CurrentCount"] of @ViewData["TotalCount"] notes
    </p>
    <div class="example-content">
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input" data-bind-input
                data-on-input__debounce.1000ms="@@get('./ActiveSearch?handler=Search')" />
        </div>
        <div id="notes-list" class="notes-list">
            @foreach (var note in Model.Notes)
            {
                <div class="note-item">
                    <p>@note.Content</p>
                </div>
            }
        </div>
    </div>
</section>

<!-- code samples for the example with proper code formatting for c# -->
<section id="code">
    <h2>Code</h2>
    <p>TBD</p>
    <!-- Code samples here -->
</section>

<div style="display: flex; justify-content: space-between; gap: 1rem;">
    <span></span> <!-- Empty span for spacing since this is the last page -->
    <a asp-page="./Animations" class="demo-nav-link">
        NEXT: ANIMATIONS →
    </a>
</div>

@await Html.PartialAsync("_MoreExamples")