@inherits RazorSlice
@implements IUsesLayout<_Layout, LayoutModel>

<main>
  <section class="container" id="main" data-signals="{'input':'','output':'what'}">
    <button data-on-click="@@get('/displayDate')">Display Date</button>
    <div id="target"></div>
    <input type="text" placeholder="input:" data-bind-input /><br/>
    <span data-text="$output"></span>
    <button data-on-click="@@post('/changeOutput')">Change Output</button>
  </section>
</main>

@functions {
    public LayoutModel LayoutModel => new() { Title = "D* Demo" };
}
